@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Oswald&display=swap');

body {
  background-image: url('bg.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;

}

header {
  width: 100%;
  min-height: 15vh;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  background:rgba(255,255,255,0.25);
  box-shadow: 0px 3px 20px grey;
}

h1 {
  font-size: 32px;
  letter-spacing: 8px;
  color: #0f2a3d;
  font-family: 'Cinzel Decorative', cursive;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  color: #0f2a3d;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
  color: #3c2457;
}

.weather {
  width: 70%;
  background:rgba(255,255,255,0.25);
  margin: 5% auto;
  padding: 15px 15px;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.datetime {
  text-align: center;
}

.temps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#current {
  font-size: 2rem;
}
